h1{
    text-align: center;

}
body{
    background-color:lightsalmon;
}
nav {
    text-align: center;
    font-size: 35px;
}
.img {
    margin-top: 45px;
    margin-left: 870px;
}
.text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}