h1{
    text-align: center;
    

}
body{
    background-color:lightpink;
}
nav {
    text-align: center;
    font-size: 35px;
}
.img {
    margin-top: 15px;
    margin-left: 870px;

}
.text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
#leg {
    margin-left: 60px;
}