nav{
    text-align: center;
   
}

a{
    text-decoration: none;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px   

}

video{
    padding-top: 20px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px 
}